body {
	background-color: #aeaeae;
	font-family: 'Jua', sans-serif;
	margin: 0;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

header {
	height: 150px;
	background-color: #e7e5e6;
}

header span {
	display: inline-block;
	background-color: #aeaeae;
	padding: 20px 35px;
	font-size: 45px;
	margin: 25px 0 0 30px;
}

nav {
	background-color: #aeaeae;
}

nav ul {
	padding: 15px;
	text-align: center;
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 55px;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 25px;
}

nav ul li a:hover {
	text-decoration: underline;
	font-size: 30px;
}

.main {
	display: inline-block;
	min-height: 600px;
	max-height: 600px;
	width: 70%;
	background-color: #ffffff;
	overflow: scroll;
}

.main h1 {
	font-size: 30px;
	margin-left: 40px;
}

.main p {
	margin-left: 40px;
}


.sidebar {
	vertical-align: top;
	display: inline-block;
	min-height: 600px;
	width: 30%;
	background-color: #CECCCD;
}

.sidebar h2 {
	margin: 30px 0 40px 30px;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 30px;
}

footer {
	background-color: #514F50;
	padding: 20px 15px;
	color: #ffffff;
	position: absolute;
	bottom: 74px;
	width: 78.5%;
}